@font-face {
  font-family: "CeraPro";
  src: url("../fonts/CeraPro-Regular.woff2") format("woff2"),
    url("../fonts/CeraPro-Bold.woff2") format("woff2"),
    url("../fonts/CeraPro-Medium.woff2") format("woff2");
  font-size: 40px;
}
:root {
  font-family: "CeraPro";
}
