.footerContainer {
  display: flex;

  width: 100%;
  background: rgb(32, 29, 72);

  padding-left: 100px;
  padding-top: 50px;
}

.footer-legoImage {
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
}

#selectionRegion-footer {
  color: white;
  text-decoration: none;
}

.footer_selectionRegion {
  background: rgb(24, 21, 45);
  width: 100px;
  height: 20px;
  text-align: center;
  color: white;
  padding: 11px;
  text-decoration: none;
}

#giftCards-footer {
  color: white;
  text-decoration: none;
}

.footer_giftCards {
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.footer_giftCards:hover {
  text-decoration: underline;
}

#legoCatalogs-footer {
  color: white;
  text-decoration: none;
}

.footer_legoCatalogs {
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.footer_legoCatalogs:hover {
  text-decoration: underline;
}

#findLego-footer {
  color: white;
  text-decoration: none;
}

.footer_legoFinder {
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.footer_legoFinder:hover {
  text-decoration: underline;
}

.footerInfo {
  display: flex;
}

.footerInfo_firstColumn {
  display: block;
  width: 200px;
  height: auto;
  padding-left: 140px;
  color: white;
}

.footerInfo_secondColumn {
  display: block;
  width: 200px;
  height: auto;
  padding-left: 80px;
  color: white;
}

.footerInfo_thirdColumn {
  display: block;
  width: 200px;
  height: auto;
  padding-left: 80px;
  color: white;
}

.footerInfo_fourthColumn {
  display: block;
  width: 200px;
  height: auto;
  padding-left: 80px;
  color: white;
}

.footerInfo_title {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
}

#footerInfo_details {
  color: white;
  text-decoration: none;
}

.footerInfo_details {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerInfo_details:hover {
  text-decoration: underline;
}

.footerSocialMedia {
  padding-top: 60px;
  width: 100vw;
  background: rgb(32, 29, 72);
  text-align: right;
  display: block;
}

.footer_followUs {
  color: white;
}

.social-facebook {
  height: 100px;
  width: 100px;
}

#social-facebook {
  height: 50px;
  width: 50px;
}

.social-twitter {
  height: 100px;
  width: 100px;
}

#social-twitter {
  height: 50px;
  width: 50px;
}

.social-instagram {
  height: 100px;
  width: 100px;
}

#social-instagram {
  height: 50px;
  width: 50px;
}

.social-youtube {
  height: 100px;
  width: 100px;
}

#social-youtube {
  height: 50px;
  width: 50px;
}

.footerWrapper {
  padding-top: 100px;
  background: rgb(32, 29, 72);
  color: white;
}

.footerWrapper_generalInfo {
  display: flex;
}

#footerWrapper_generalInfo_item {
  color: white;
  text-decoration: none;
}

.footerWrapper_generalInfo_item:first-child {
  padding-left: 120px;
}

.footerWrapper_generalInfo_item {
  padding-right: 40px;
}

.footerWrapper_generalInfo_item:hover {
  text-decoration: underline;
}

.footerWrapper_credentials {
  padding-left: 120px;
  padding-top: 40px;
  padding-bottom: 80px;
}

/*# sourceMappingURL=footer.css.map */
