.utilityBar {
  display: flex;
  border: 5px solid brown;
  width: 100vw;
  height: 100px;
  justify-items: center;
}
// .utilityBar p {
//   color: grey;
//   display: flex;
//   height: 50px;
// }
.layoutSection {
  display: flex;
  width: 75vw;
  flex-direction: row;
  border: 5px solid pink;
}
//temporary
svg {
  max-width: 50px;
}
//temporary
