.utilityBar {
  display: flex;
  /*border: 5px solid brown;*/
  width: 100vw;
  height: 55px;
  padding: 0px 30px;
  align-items: center;
  background-color: #f8f8f8;
  font-size: 16px;
}

.playZone {
  display: inline-flex;
  align-items: center;
  line-height: 1.57rem;
  background-color: rgb(171, 217, 255);
  font-size: 0.75rem;
  box-shadow: rgba(48, 85, 181, 0.44) 0px 1px 4px 0px;
  padding: 0px 0.625rem;
  margin-right: 30vw;
  border-radius: 3px;
  -webkit-box-align: center;
  border: none;
}
.playZone:hover {
  background-color: white;
}

.playZone a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.arrowIcon {
  transform: rotate(180deg);
  width: 18px;
  margin-right: 0.625rem;
}

.leftArrow {
  transform: rotate(180deg);
  height: 18px;
}

.rightArrow {
  height: 18px;
}

.mainBarMenu {
  display: flex;
  align-items: center;
  list-style: none;
  width: 250px;
  line-height: 1.5;
}

.buttonHeader {
  border: 0;
  background: none;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.mainBarSection {
  display: inline-flex;
  width: 100vw;
  height: 75px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 207, 0);
  font-size: 16px;
}

.layoutSection {
  display: flex;
  width: 98vw;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding-left: 150px;
  padding-right: 150px;
}

.layoutSection img {
  width: 79.41px;
}

.layoutSection li {
  list-style: none;
}

.layoutSection a {
  text-decoration: none;
  font-size: 0.75rem;
  color: black;
}

.legoLogo {
  width: auto;
  height: 55px;
}

.logo-container {
  display: flex;
  flex-direction: row;
}

.mainBarMenu li:first-child {
  padding-left: 30px;
}
.mainBarMenu li {
  padding-right: 3.125rem;
}
.mainBarMenu li:last-child {
  padding-right: 0;
}

.header-slider {
  margin-right: 30vw;
  display: flex;
}

.slider-text.header {
  padding-left: 6vw;
  padding-right: 6vw;
}

.recommended-part-container {
  display: flex;
}

.carousel-scrollArea-wrapper {
  display: flex;
  flex-direction: row;
}

.trending-now-container {
  display: flex;
}

.trending-now-cards-wrapper {
  display: flex;
  flex-direction: row;
}

.product-img {
  position: relative;
}

.jazz-img1 {
  position: relative;
  top: 0;
  left: 0;
  width: 348px;
  height: 236px;
}

.jazz-img2 {
  position: absolute;
  bottom: 20px;
  left: 30px;
  width: 107px;
  height: 36px;
}

.tower-img1 {
  position: relative;
  top: 0;
  right: 0;
  width: 348px;
  height: 236px;
}

.tower-img2 {
  position: absolute;
  width: 107px;
  height: 36px;
  bottom: 20px;
  right: 70px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info h3 {
  text-align: center;
}

.product-info p {
  text-align: center;
}

.eiffel-tower-image {
  position: relative;
}

.allpage-tower-img1 {
  position: relative;
}

.allpage-tower-img2 {
  position: absolute;
  width: 350;
  height: 120;
  bottom: 200px;
  right: 265px;
}

.eiffel-tower-image h2 {
  position: absolute;
  bottom: 130px;
  right: 100px;
}

.eiffel-tower-image span {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

@font-face {
  font-family: "CeraPro";
  src: url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff2") format("woff2");
  font-size: 40px;
}
:root {
  font-family: "CeraPro";
}

.footerContainer {
  display: flex;
  width: 100vw;
  background: rgb(45, 15, 73);
  padding-left: 100px;
  padding-top: 50px;
}

.footer-legoImage {
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
}

#selectionRegion-footer {
  color: white;
  text-decoration: none;
}

.footer_selectionRegion {
  background: rgb(35, 12, 55);
  width: 100px;
  height: 20px;
  text-align: center;
  color: white;
  padding: 11px;
  text-decoration: none;
}

#giftCards-footer {
  color: white;
  text-decoration: none;
}

.footer_giftCards {
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.footer_giftCards:hover {
  text-decoration: underline;
}

#legoCatalogs-footer {
  color: white;
  text-decoration: none;
}

.footer_legoCatalogs {
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.footer_legoCatalogs:hover {
  text-decoration: underline;
}

#findLego-footer {
  color: white;
  text-decoration: none;
}

.footer_legoFinder {
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.footer_legoFinder:hover {
  text-decoration: underline;
}

.footerInfo {
  display: flex;
}

.footerInfo_firstColumn {
  display: block;
  width: 200px;
  height: auto;
  padding-left: 140px;
  color: white;
}

.footerInfo_secondColumn {
  display: block;
  width: 200px;
  height: auto;
  padding-left: 80px;
  color: white;
}

.footerInfo_thirdColumn {
  display: block;
  width: 200px;
  height: auto;
  padding-left: 80px;
  color: white;
}

.footerInfo_fourthColumn {
  display: block;
  width: 200px;
  height: auto;
  padding-left: 80px;
  color: white;
}

.footerInfo_title {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
}

#footerInfo_details {
  color: white;
  text-decoration: none;
}

.footerInfo_details {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerInfo_details:hover {
  text-decoration: underline;
}

.footerSocialMedia {
  width: auto;
  height: 200px;
}

.social-facebook {
  height: 100px;
  width: 100px;
}

/*# sourceMappingURL=index.css.map */
