/*@font-face   src: url(./cera-pro-sv/Cera\ Pro\ Bold.otf);
}
@font-face 
  src: url(./cera-pro-sv/Cera\ Pro\ Light.otf);
}
@font-face ;
  src: url(./cera-pro-sv/Cera\ Pro\ Medium.otf);
}
@font-face    src: url(./cera-pro-sv/Cera\ Pro\ Black.otf);
  }*/
@font-face {
  font-family: "CeraPro";
  src: url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff2") format("woff2");
  font-size: 40px;
}
:root {
  font-family: "CeraPro";
}

* {
  box-sizing: border-box;
  margin: 0px;
}

.featured-sets-wholebody-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 84.5vw;
  overflow: hidden;
  overscroll-behavior-inline: contain;
}

.smallImageDisplay {
  width: 67% !important;
}

.featured-sets {
  font-weight: 900;
  font-size: 32px;
  color: #2C2C2C;
  align-self: flex-start;
  margin-left: 7vw;
  margin-top: 70px;
  margin-bottom: 20px;
  display: block;
}

#newfeaturedSets {
  font-weight: 900;
  font-size: 32px;
  color: #2C2C2C;
  align-self: flex-start;
  margin-left: 7vw;
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 25%;
  position: relative;
  transition: transform 1000ms ease-in-out;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.image-container > img {
  transition: transform 500ms ease-in-out 0s;
  z-index: 0;
  width: 85%;
  object-fit: cover;
}

.transparent-container {
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 300px;
  position: relative;
}

.transparent-container:hover .image-container > img {
  transform: scale(1.13);
}

.lateness {
  font-size: 12px;
  background-color: rgb(255, 207, 0);
  width: fit-content;
  padding: 3px 8px;
}

.price-discount {
  background-color: rgb(208, 2, 27);
  width: fit-content;
  padding: 3px 3px;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.product-predetails {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 5px;
  bottom: 5px;
  z-index: 1;
}

.add-wish-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}

.svg-container {
  height: 30px;
  width: 30px;
}

.add-to-wish-list-text {
  font-size: 12px;
  font-weight: bold;
}

#add-to-bag-button {
  height: 55px;
  background-color: rgb(253, 128, 36);
  font-weight: 600;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 14px;
  width: unset;
}

#add-to-bag-button:hover {
  border: 2px solid rgb(253, 128, 36);
  background-color: white;
}

.product-rating {
  display: flex;
  flex-direction: row;
}

#discounted-price {
  font-size: inherit;
  font-weight: inherit;
  color: rgb(208, 2, 27);
}

#product-original-price {
  text-decoration: line-through;
}

.featured-sets-wholebody-container > section:nth-child(2) div[class=product-predetails],
.featured-sets-wholebody-container > section:nth-child(3) div[class=product-predetails],
.featured-sets-wholebody-container > section:nth-child(4) div[class=product-predetails],
.featured-sets-wholebody-container > section:nth-child(7) div[class=product-predetails],
.featured-sets-wholebody-container > section:nth-child(8) div[class=product-predetails],
.featured-sets-wholebody-container > section:nth-child(9) div[class=product-predetails],
.featured-sets-wholebody-container > section:nth-child(10) div[class=product-predetails],
.featured-sets-wholebody-container > section:nth-child(11) div[class=product-predetails],
.featured-sets-wholebody-container > section:nth-child(12) div[class=product-predetails],
.featured-sets-wholebody-container > section:nth-child(13) div[class=product-predetails],
.featured-sets-wholebody-container > section:nth-child(14) div[class=product-predetails] {
  display: none;
}

.featured-sets-wholebody-container > section:nth-child(5) div[class=price-discount],
.featured-sets-wholebody-container > section:nth-child(6) div[class=price-discount],
.featured-sets-wholebody-container > section:nth-child(15) div[class=price-discount],
.featured-sets-wholebody-container > section:nth-child(16) div[class=price-discount] {
  display: none;
}

.wrapper {
  display: flex;
  position: relative;
  width: fit-content;
}

.wrapper i {
  top: 30%;
  height: 44px;
  border: 1px solid rgb(217, 217, 217);
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
  background: #f2f2f2;
}

.wrapper i:first-child {
  left: -55px;
  display: none;
}

.wrapper i:last-child {
  right: -55px;
}

.wrapper > .carousel {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging > section {
  pointer-events: none;
}

.carousel section {
  object-fit: cover;
  user-select: none;
}

.carousel section:first-child {
  margin-left: 0px;
}

#runnerBarCont {
  width: 60%;
  background-color: rgb(217, 217, 217);
  display: flex;
  height: 5px;
  white-space: nowrap;
  scroll-behavior: smooth;
  overflow: hidden;
  cursor: pointer;
  margin-top: 40px;
  position: relative;
}

#runnerBar {
  background-color: rgb(98, 98, 98);
  width: 25%;
  height: inherit;
  scroll-behavior: smooth;
  transition: transform 400ms ease-in-out 0s;
}

#runnerBarCont.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.the-latest {
  width: 84.5vw;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.latest-img-container {
  object-fit: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.latest-img-container:hover .latest-img-container > a {
  border-bottom: black;
}

.latest-img-container > img {
  width: 100%;
  height: 100%;
}

.absolutePosition {
  position: absolute;
}

.latest-img-container > h3 {
  top: 50px;
  font-size: 1.5rem;
}

.latest-img-container > p {
  top: 100px;
  font-size: 0.85rem;
}

.latest-img-container > a {
  top: 150px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

#secondLatestImgCont * {
  color: white !important;
}

#secondLatestImgCont:hover #mustHover2 {
  text-decoration: underline !important;
}

#firstLatestImgCont:hover #mustHover1 {
  text-decoration: underline !important;
}

#assLogo1, #assLogo2 {
  max-width: 200px;
  max-height: 60px;
  bottom: 15px !important;
  right: 15px !important;
  position: absolute !important;
}

#assLogo2 {
  max-width: 150px !important;
  max-height: 50px !important;
}

/*# sourceMappingURL=john.css.map */
