.recommended-part-container {
  display: flex;
}
.carousel-scrollArea-wrapper {
  display: flex;
  flex-direction: row;
}
.trending-now-container {
  display: flex;
}
.trending-now-cards-wrapper {
  display: flex;
  flex-direction: row;
}
.product-img {
  position: relative;
}
.jazz-img1 {
  position: relative;
  top: 0;
  left: 0;
  width: 348px;
  height: 236px;
}
.jazz-img2 {
  position: absolute;
  bottom: 20px;
  left: 30px;
  width: 107px;
  height: 36px;
}
.tower-img1 {
  position: relative;
  top: 0;
  right: 0;
  width: 348px;
  height: 236px;
}
.tower-img2 {
  position: absolute;
  width: 107px;
  height: 36px;
  bottom: 20px;
  right: 70px;
}
.product-info {
  display: flex;
  flex-direction: column;
}
.product-info h3 {
  text-align: center;
}
.product-info p {
  text-align: center;
}
.eiffel-tower-image {
  position: relative;
}
.allpage-tower-img1 {
  position: relative;
}
.allpage-tower-img2 {
  position: absolute;
  width: 350;
  height: 120;
  bottom: 200px;
  right: 265px;
}
.eiffel-tower-image h2 {
  position: absolute;
  bottom: 130px;
  right: 100px;
}
.eiffel-tower-image span {
  position: absolute;
  bottom: 100px;
  right: 100px;
}
