/*John => Here is the style we can remove it later - added the classes*/

.carouselCollect{
  border: 1px solid gray; 
  display: flex; 
  flex-direction: column; 
  overflow: scroll; 
  width: 100%;
}

.widthToBe100{
  width: 100%;
}
.recommended-part-container {
  display: flex;
}
.carousel-scrollArea-wrapper {
  display: flex;
  flex-direction: row;
}
.trending-now-section {
  padding: 4em;
  line-height: 1.5;
}
.trending-now-container {
  display: flex;
  flex-flow: row wrap;
}
.trending-now-container-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: 2.3125rem;
  padding: 20px;
  font-weight: 400;
  font-size: 1.5rem;
  color: #2c2c2c;
  


}

.trending-now-cards-wrapper {
  display: flex;
  flex-direction: row;
}
.trending-now-product {
  padding-left: 1.25rem;
  width: 40%;
  display: block;
  box-sizing: content-box;
  line-height: 1.5;
  

}
.product-img  {
  position: relative;
  cursor: pointer;
}
.jazz-img1 {
  position: relative;
  top: 0;
  left: 0;
  width: 348px;
  height: 236px;
}
.jazz-img2 {
  position: absolute;
  bottom: 20px;
  left: 30px;
  width: 107px;
  height: 36px;
}
.tower-img1 {
  position: relative;
  top: 0;
  right: 0;
  width: 348px;
  height: 236px;

}
.tower-img2 {
  position: absolute;
  width: 107px;
  height: 36px;
  bottom: 20px;
  right: 70px;
}
.product-info {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  line-height: 1.5 rem;
  
}
.product-info h3 {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.9375rem;
  
}
.product-info p {
  text-align: center;
  font-size: 0.875rem;

}
.shopnow-button {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;

}
.shopnow-button  {
  border-bottom: 1px solid black;
}

.shopnow {
  font-size: 1rem;
  line-height: 1.5625rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.shopnow:hover {
  text-decoration: underline;
}

.shopnow-svg {
  color: rgb(0, 0, 0);
  margin-left: 0.625rem;
  line-height: 0;
  height: 12px;
  width: 8px;
  text-align: center;

}
.eiffel-tower-image {
  position: relative;
}
.allpage-tower-img1 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  inset: 0px;
}
.allpage-tower-img2 {
  position: absolute;
  bottom: 200px;
  right: 265px;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
}
.eiffel-tower-image h2 {
  position: absolute;
  bottom: 130px;
  right: 100px;
}
.eiffel-tower-image span {
  position: absolute;
  bottom: 100px;
  right: 100px;
}
